/*****************************
제목 : 종로편입학원 게시판 공통 CSS
작성자 : 해커스교육그룹 개발지원팀 김남경
작성일 : 2012.03.29
*****************************/

.board_wrap {float:left; width:100%; padding:15px 0 30px;}
.board_wrap input {border:1px solid #dedede;}

.board_list {width:800px; margin-bottom:30px;}
.board_list a:hover {color:#cc0000;}

.board_list th {padding:8px 0 18px; padding-top:11px\9; *padding:12px 0 30px;  background:url(../img/board/th_bg02.gif) left top no-repeat; }
.board_list th img {width:auto}
.board_list th.first {background:url(../img/board/th_bg01.gif) left top no-repeat;}
.board_list th.last {background:url(../img/board/th_bg06.gif) right top repeat-x;}
.board_list tr.notice td {font-weight:bold;}
.board_list tr.notice td.num {color:#cc0000;}
.board_list td {padding:10px 0; text-align:center; color:#666; border-bottom:1px solid #eaeaea}
.board_list td.subject {padding-left:18px; text-align:left;}

.payment_wrap .type_pay .board_list {margin: 0;}
.type_pay {margin: 15px 0 25px; border-top: 1px solid #cdcdcd}
.type_pay .board_list {border: 1px solid #cdcdcd;}
.type_pay .board_list th {padding: 8px 0 8px;background-image: none; background-color: #eceff1; color: #2a2a2a; border-left: 1px solid #cdcdcd;  border-bottom: 1px solid #cdcdcd}
.type_pay .board_list th.first-child ,.board_list.type_pay td.first-child {border-left: 0}
.type_pay .board_list td {border-left: 1px solid #cdcdcd; border-bottom: 1px solid #cdcdcd}
.type_pay .board_list tbody th {background: #eceff1; border-bottom: 1px solid #cdcdcd}
.type_pay .board_list tbody td { padding-left: 5px; padding-right: 5px; }
.type_pay .board_list th.imp {color: #fff; background: #cc0000}
.type_pay .board_list td.imp {color: #cf0000;}
.type_pay .board_list th.empty {border: 1px solid #cdcdcd;}


.board_list tr.graph th {padding:12px 0;}
.board_list th.last_mypage {background:url(../img/board/th_bg04.gif) right top repeat-x;}  
.board_list th.last_date {background:url(../img/board/th_bg05.gif) right top repeat-x;}  
.board_list td.campus {color:#cc0000; font-weight:bold;}
.board_list tr.vocalist td{padding:5px 0;}

.board_list2 th.p_last{background:url(../img/board/th_bg06.gif) right top repeat-x;}  

.paging {float:left; width:100%; margin:36px 0 0; text-align:center;font-size:11px;}
.paging span a {padding:0 3px;}
.paging a {color:#999; font-size:11px; }
.paging span a:hover, .paging em {padding:0 3px; color:#425831; font-weight:bold; letter-spacing:-1px}
.paging var {color:#e6e7e8;}
.paging img {position:relative; top:-1px; vertical-align:middle;}
.paging a.prev {padding-right:5px;}
.paging a.next {padding-left:5px;}

.board_wrap fieldset.search {float:left; width:420px; margin:29px 0 0 200px;}
.board_wrap fieldset.search button {position:relative; top:-1px; width:38px; height:21px; background:url(../img/button/search.gif) no-repeat;}
.board_wrap fieldset.search ul {margin:0 0 0 0px;}
.board_wrap fieldset.search li {float:left;}
.board_wrap fieldset.search select {width:88px; margin:0 6px 0 0; }
.board_wrap fieldset.search input {width:251px; margin:0 6px 0 0; padding:2px 0 1px;}

/****************** 정미례_추가_120331  ******************/
.board_wrap .pointer {cursor:pointer;}
.board_wrap .left {float:left;}
.board_wrap .right {float:right;}
.board_wrap .board_btns {margin-top:10px;}

/* 글보기 */
.board_view {width:100%;}
.board_view img {vertical-align:top;}

.board_view th,
.board_view td {border:1px solid #eaeaea; padding:7px 0 5px; text-align:center; line-height:20px;}
.board_view th {background-color:#f7f7f7}
.board_view td.subject {font-weight:bold; text-align:left; padding-left:10px; }
.board_view td.writing {padding:15px 0 30px 25px; text-align:left; }
.board_view td.date {border-right:none;}
.board_view td.copyAdd {border-left:none; padding:5px 0 5px 0;}
.board_view td.copyAdd img {cursor:pointer}
.board_list .board_view {margin-top:-11px;}
.board_list .board_view th {background:none; background-color:#f7f7f7}

.comment_wrap {float:left;  margin:13px 0; background-color:#f7f7f7;}
.comment_wrap li {position:relative; float:left; width:669px; line-height:17px; padding:13px 20px; border-bottom:1px solid #ededed;}

.comment_wrap li .writer {line-height:25px; font-weight:bold;}
.comment_wrap li .writer em {font-size:11px; font-weight:normal; color:#9b9b9b;}
.comment_wrap li .commentBox {float:left; width:590px; height:53px; margin-right:10px; padding:5px; background-color:#fff; border:1px solid #dedede; overflow:auto;}
.comment_wrap li .btn {padding-top:8px;}
.comment_wrap li .btn_reply {position:absolute; top:20px; right:20px;}


.list_ect {float:left; width:100%; margin-top:20px; margin-bottom:-30px; border-top:2px solid #b5b5b5}
.list_ect li {float:left; width:100%; line-height:28px;  font-size:11px; border-bottom:1px solid #eaeaea}
.list_ect li .subject {float:left; margin-left:20px;}
.list_ect li .date {float:right; width:100px; color:#999;}

/* 글쓰기 */
.board_write th {width:100px;}
.board_write td {padding:7px 0 5px 10px;}
.board_write td.module {padding:0; border:none;}
.board_write td input.subject {width:500px; height:20px; margin-right:10px;}
.board_write td label {font-weight:bold; font-size:11px;}
.board_write td input.check {border:none;}

ul.notice {padding: 9px 0 20px; text-align: left;}
ul.notice_box {margin: 25px 0 0; padding: 10px 0 0; border :1px solid #cdcdcd; border-top: 2px solid #cdcdcd;}
ul.notice li {line-height: 17px;}
ul.notice li.first-child {padding: 0 0 0 22px; text-indent: -22px;}
.rep { padding: 0 0 10px; text-align: left; line-height: 17px;}
.notice li a, .rep a {color: #cc0000 }
.rep p {padding: 9px 0 0;}
.rep em.point {color:#ed1c24;}
.rep .button {display:inline-block; padding:2px 8px; font-size:11px; color:#fff; background:#010101; border-radius:3px 5px; margin-left: 5px;}

h2.title , h3.title {text-align: left; color: #000;}

td.left {text-align: left}
.alon {padding: 0 0 8px;}

/* 2015-12-22 환급안내 */
.event_area .info{margin:0 auto;width:900px;display:block}
.event_area .info ul{margin:20px 0 21px;}
.event_area .info ul li{font-size:12px;line-height:18px;color:#777;margin-bottom:3px;}
.event_area .info ul li span{color:#d12249}
.event_area .info i.sp01{width:16px;display:inline-block}
.event_area .info i.sp02{width:52px;display:inline-block}
.event_area .info i.sp03{width:13px;display:inline-block}





